<!doctype html>
<html>
<head>
    <title>{% block title %} TITLE {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

{% block content %}ALL CONTENT{% endblock %}
</body>
</html>